/* My Awesome Styles */

/* Diagnostic Styling 
  * Change Background Color
  * Outline Elements
*/

* {
    outline: 1px dotted black;
}

video {
  border: 10px dotted red; 
  /*kludge - temporary solution */
  width: 100%;
  height: 100%;
}

